<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
	<p>Team Score Problem <a href="#">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Three Pointers: <label> <input v-model="aOne">
		</div>
		<div class="formfield">
			<label>Two Pointers <label> <input v-model="aTwo">
		</div>
		<div class="formfield">
			<label>One Pointers <label> <input v-model="aThree">
		</div>
		<div class="formfield">
			<label>Three Pointers: <label> <input v-model="bOne">
		</div>
		<div class="formfield">
			<label>Two Pointers <label> <input v-model="bTwo">
		</div>
		<div class="formfield">
			<label>One Pointers <label> <input v-model="bThree">
		</div>
		<div id="result">
			
			
		</div>
		<button v-on:click="return_message">Click here</button>
		<p v-if="'bannana' == 'apple'">{{data.T}}</p>
		<p v-if="'bannana' > 'apple'">{{data.B}}</p>
		<p v-else>{{data.A}}</p>


	
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			// treat_diagnostics:false,
			// dog_name:"Barley",
			aOne:0,
			aTwo:0,
			aThree:0,
			
			bOne:0,
			bTwo:0,
			bThree:0,
			B:'B',
			A:'A',
			T:'T',


			onePointer:1,
			twoPointer:2,
			threePointer:3
		},
		methods:{
			Total : function(){

				var apple = (this.aOne * this.threePointer) + 
				(this.aTwo * this.twoPointer) + 
				(this.aThree * this.onePointer);	

				var bannana = (this.bOne * this.threePointer) + 
				(this.bTwo * this.twoPointer) + 
				(this.bThree * this.onePointer);
				//  alert( bannana + 'bananna')
				//  alert(apple + 'apple')
				 
				//  return this.apple && this.bannana

			},
			
			
		},
		return_message : function (){
				return this.Total;
			}
	});
	//RETURN THE FUNCTION FROM ANOTHER FUNCTON


	
	</script>
	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>